


html,
body,
#root{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
    overflow: hidden;
    background: rgb(8, 8, 8);
}

.contenedor{
  position: relative;
  right: 6.7rem;
  bottom: 16rem;
  width: 200px;
  transition: 2s ;

}
.contenedor:hover{
  transition: 2s all;

  border: 1px solid white;
  border-radius: 20px 10px 20px 10px;
  
}
.btnGallery{
  width: 200px;
  padding: 1rem;
  background-color: transparent;
  cursor:pointer;
  border: none;

}
.btnGallery a {
  color: white;
font-size: 2rem;
font-family: 'Work Sans', sans-serif;
}

.btnLeft{
  padding: 1rem;
  background-color: transparent;
  cursor:pointer;
  border: none;
  position:relative;
  color:white;

}

.btnRight{
  padding: 1rem;
  background-color: transparent;
  cursor:pointer;
  border: none;
  position:relative;
color:'white';
}

.btnRight span{
font-family: 'Work Sans', sans-serif;
font-size: 1.5rem;
color:white;
}

.containerbtnLeft .btnLeft span{
  color: 'white';
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5rem;
}

.containerbtnExitGalery{
  width: 200px;
  top: 13rem;
  right: 4.5rem;
  position: relative;
  border: none;
}
.btnExitGallery {
  padding: 1rem;
  display: none;
  color: white;
  border: none;
  background-color: transparent;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5rem;
  transition: 2s all;
}

.btnExitGallery:hover{
  
  border: 1px solid white;
}
.circle{
  background: rgba(0, 0, 0, 0.265);
  width:3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  margin-left:4.5rem;
  bottom:4.5rem;
  position:relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}




.circle p{
  font-family: 'Work Sans',sans-serif;
}

.infoContainer{
  display: none;
  justify-content: center;
  text-align: center;
  width: 400px;
  height: 400px;
  background-color: rgba(14, 14, 14, 0.379);
  position:relative;
  bottom: 15rem;
  right: 11rem;
  color: white;
  transition: 2s all;

}

.containerCross {
  /* display: flex; */
  /* align-items: left; */
  top:0;
  right: 0;
  position: absolute;
}
.containerCross .cross{
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin: 1rem;
  
}
.containerImg{
  width: 100%;
  height: 100%;
  padding-top: 1rem;

}
.containerImg img{
  width: 200px;
  height: 200px;
}

